<div class="layout">
  <loading-page *ngIf="loading"></loading-page>
  <div *ngIf="!loading" class="ui grid container stackable registration-page">
    <div class="twelve wide tablet eight wide computer column centered">
      <div class="registration-form">
        <form class="ui form">
          <div class="field">
            <label>Name</label>
            <input class="login-input" type="text" required="" #name>
          </div>
          <div class="field">
            <label>Email</label>
            <input class="login-input" type="text" name="email" required="" #email>
          </div>
          <div class="field">
            <label>Passcode</label>
            <input class="login-input" type="password" name="password" required="" #passcode>
          </div>
          <div class="field">
            <label>Confirm</label>
            <input class="login-input" type="password" name="confirmPassword" required="" #confirmPasscode>
          </div>
          <div class="field">
            <label>Nickname</label>
            <input class="login-input" type="text" name="nickname" required="" #nickname>
          </div>
          <button (click)="signUp(name.value, email.value, passcode.value, confirmPasscode.value, nickname.value)" class="fluid ui button"
            type="button">
            <i class="sign in icon"></i>Sign up</button>
          <button (click)="goBack();" class="fluid ui button" type="button"><i class="chevron left icon"></i>Back</button>
        </form>
      </div>
    </div>
  </div>
</div>