<div class="layout">
  <loading-page *ngIf="loading"></loading-page>
  <div *ngIf="!loading" class="ui grid container stackable main-page">
    <div class="ten wide tablet six wide computer column centered">
      <div class="logo">
        <div class="ui small">
          <img class="ui tiny image centered" src="assets/img/logo.png" alt="logo">
        </div>
      </div>
      <div class="login-form">
        <form class="ui form">
          <div class="field">
            <label>Email</label>
            <input class="login-input" type="text" name="email" placeholder="" required="" #email>
          </div>
          <div class="field">
            <label>Passcode</label>
            <input class="login-input" type="password" name="password" placeholder="" required="" #passcode>
          </div>
          <button (click)="signIn(email.value, passcode.value)" class="fluid ui button" type="button">
            <i class="sign in icon"></i>Login to works</button>
          <div class="field"></div>
          <button (click)="signUp()" class="fluid ui button" type="button"><i class="sign in icon"></i>Sign up</button>
        </form>
      </div>
    </div>
  </div>
</div>