<div style="position: absolute; left: 50%; top: 35%;">
    <div style="position: relative; left: -50%; top:-50%;">
        <img class="ui tiny image centered" src="assets/img/gears.svg">
        <br>
        <br>
        <div style="color: white; font-size: 38px;">LOADING...</div>
    </div>
</div>