<div class="layout">
  <loading-page *ngIf="loading"></loading-page>
  <div *ngIf="!loading" class="ui grid container stackable users-page">
    <div class="fourteen wide tablet eleven wide computer column centered">
      <div class="ui left icon input fluid">
        <i class="search icon"></i>
        <input type="text" placeholder="SEARCH TEAM MEMBERS" #val (keyup.enter)="search(val.value)">
      </div>
      <div class="ui celled list">
        <a *ngFor="let user of users" class="item" [routerLink]="['/profile', user.id]">
          <img class="ui avatar image" src={{user.avatar}}>
          <div class="content">
            <div class="header">{{user.name}}</div>
            <i class="marker icon"></i><span>{{user.nickname}}</span><span></span>
            <!--<i class="marker icon"></i><span>{{user.address}}</span> | <span>@sndoodle</span>-->
          </div>
        </a>
        <button type="button" class="ui button" (click)="more()" *ngIf="userService.isCanMore()"><i class="caret down icon"></i>More</button>
        <div class="margin-bottom" *ngIf="!userService.isCanMore()"></div>
      </div>
      <div class="ui footer">
        <div class="ui divider"></div>
        <button type="button" class="ui button basic" (click)="auth.logout()"><i class="sign out icon"></i>Logout</button>
      </div>
    </div>
  </div>
</div>