/* font-family: "SourceSansProRegular"; */
@font-face {
    font-family: "SourceSansProRegular";
    src: url("../fonts/SourceSansPro/SourceSansProRegular/SourceSansProRegular.eot");
    src: url("../fonts/SourceSansPro/SourceSansProRegular/SourceSansProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SourceSansPro/SourceSansProRegular/SourceSansProRegular.woff") format("woff"),
    url("../fonts/SourceSansPro/SourceSansProRegular/SourceSansProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "SourceSansProLight"; */
@font-face {
    font-family: "SourceSansProLight";
    src: url("../fonts/SourceSansPro/SourceSansProLight/SourceSansProLight.eot");
    src: url("../fonts/SourceSansPro/SourceSansProLight/SourceSansProLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SourceSansPro/SourceSansProLight/SourceSansProLight.woff") format("woff"),
    url("../fonts/SourceSansPro/SourceSansProLight/SourceSansProLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "SourceSansProBold"; */
@font-face {
    font-family: "SourceSansProBold";
    src: url("../fonts/SourceSansPro/SourceSansProBold/SourceSansProBold.eot");
    src: url("../fonts/SourceSansPro/SourceSansProBold/SourceSansProBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SourceSansPro/SourceSansProBold/SourceSansProBold.woff") format("woff"),
    url("../fonts/SourceSansPro/SourceSansProBold/SourceSansProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "MontserratRegular"; */
@font-face {
    font-family: "MontserratRegular";
    src: url("../fonts/Montserrat/montserrat.woff2")format("woff2"),
    url("../fonts/Montserrat/montserrat.woff") format("woff"),
    url("../fonts/Montserrat/montserrat.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MontserratLight"; */
@font-face {
    font-family: "MontserratLight";
    src: url("../fonts/Montserrat/montserratlight.woff2")format("woff2"),
    url("../fonts/Montserrat/montserratlight.woff") format("woff"),
    url("../fonts/Montserrat/montserratlight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MontserratBold"; */
@font-face {
    font-family: "MontserratBold";
    src: url("../fonts/Montserrat/montserratbold.woff2")format("woff2"),
    url("../fonts/Montserrat/montserratbold.woff") format("woff"),
    url("../fonts/Montserrat/montserratbold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


body{
    background-color: rgb(7, 18, 24);
}

.clearfix::after {
    content:"";
    display:block;
    clear:both;
}

.right{
    float: right;
}

.main-page, .users-page, .profile-page, .registration-page{
    zoom: 1.5; 
    -moz-transform: scale(1.5); 
    -moz-transform-origin: 0 0;
}

.login-form > .form > .field > label{
    position: absolute;
    height: 26px;
    padding-top: 5px;
    margin: 0;
    margin-top: 4px;
    left: 10px;
    width: 25%;
    border-right: 1px solid;
    color: #799AAA;
    font-family: "MontserratLight";
    font-size: .85em;
    letter-spacing: .5px;
}

.registration-form > .form > .field > label{
     position: absolute;
    height: 26px;
    padding-top: 5px;
    margin: 0;
    margin-top: 4px;
    left: 10px;
    width: 25%;
    border-right: 1px solid;
    color: #799AAA;
    font-family: "MontserratLight";
    font-size: .85em;
    letter-spacing: .5px;
}

.container.main-page{
    position: relative;
    top: 25%;
}

.container.registration-page{
    position: relative;
}

.container.users-page, .container.profile-page{
    position: relative;
    top: 5%;
    min-height: 62vh;
}
.login-form > .ui.form > .field > input.login-input{
    background-color: #1E343F;
    padding-left: 33%;
        padding-top: 7px;
    border-radius: 4px;
    height: 34px;
    font-family: "MontserratRegular";
    letter-spacing: .25px;
    font-size: .85em;
    overflow:hidden;
}

.login-form > .ui.form > .field > input.login-input:focus{
    background-color: white;
    border-color: rgba(34,36,38,.15);
}

.login-form > .ui.form > .field > input.login-input:valid{
    background-color: white;
    border-color: rgba(34,36,38,.15);
}

.login-form > .form > .field:first-child{
    margin-top: 2em;
    margin-bottom: 1em;
}

.login-form > .form > .field:nth-child(2){
    margin-bottom: 1.2em;
}

button.button{
    text-transform: uppercase !important;
}

.login-form > .form > .button{
    background-color: #2AB5E9;
    color: white;
    font-size: 0.75em;
    padding-top: 12px;
    padding-bottom: 12px;
}

.login-form > .form > .button > .icon{
    opacity: 1;
}

.registration-form > .ui.form > .field > input.login-input{
    background-color: #1E343F;
    padding-left: 33%;
        padding-top: 7px;
    border-radius: 4px;
    height: 34px;
    font-family: "MontserratRegular";
    letter-spacing: .25px;
    font-size: .85em;
    overflow:hidden;
}

.registration-form > .ui.form > .field > input.login-input:focus{
    background-color: white;
    border-color: rgba(34,36,38,.15);
}

.registration-form > .ui.form > .field > input.login-input:valid{
    background-color: white;
    border-color: rgba(34,36,38,.15);
}

.registration-form > .form > .field:first-child{
    margin-top: 2em;
    margin-bottom: 1em;
}

.registration-form > .form > .field:nth-child(2){
    margin-bottom: 1.2em;
}

.registration-form > .form > .button{
    background-color: #2AB5E9;
    color: white;
    font-size: 0.75em;
    padding-top: 12px;
    padding-bottom: 12px;
}

.registration-form > .form > .button:last-child{
    margin-top: 15px;
}

.registration-form > .form > .button > .icon{
    opacity: 1;
}

.users-page .fluid.input > .icon.search{
    border-right: 1.2px solid #799AAA;
    height: 80%;
    top: 10%;
    color: #799AAA;
    opacity: .8; 
    font-size: 1.2em;
}

.users-page .fluid.input > input{
    font-size: .85em;
    border-radius: 4px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 5em !important;
    font-family: "MontserratRegular";
    letter-spacing: .25px;
}

.users-page .fluid.input > input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: rgba(121,154,170,0.8) !important;
}
.users-page .fluid.input > input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: rgba(121,154,170,0.8) !important;
   opacity:  1;
}
.users-page .fluid.input > input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: rgba(121,154,170,0.8) !important;
   opacity:  1;
}
.users-page .fluid.input > input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: rgba(121,154,170,0.8) !important;
}

.footer{
    position: absolute;
    bottom: 40px;
        width: 100%;
    text-align: center;
    padding-right: 2rem;
}

.footer > .ui.basic.button{
    color: #799AAA !important;
        border: 2px solid rgb(24,45,55);
        margin-top: 10px;
        width: 188px;
        padding-top: 12px;
        padding-bottom: 12px;
        font-weight: normal;
        font-size: 1.1em;
        border-radius: 4px;
}

.header > .ui.basic.button{
    color: #799AAA !important;
        border: 2px solid rgb(24,45,55);
        margin-top: 10px;
        padding-top: 12px;
        padding-bottom: 12px;
        font-weight: normal;
        font-size: .8em;
        border-radius: 4px;
        width: 188px;
}

.ui.header:first-child{
    margin-top: -10px;
}

.header > .ui.basic.button{
    float: right;
    margin-top: 4px;
    margin-bottom: 22px;
}

.footer > .ui.basic.button:hover, .footer > .ui.basic.button:focus, .footer > .ui.basic.button:visited, .footer > .ui.basic.button:active{
    background-color: transparent !important;
}

.header > .ui.basic.button:hover, .header > .ui.basic.button:focus, .header > .ui.basic.button:visited, .header > .ui.basic.button:active{
    background-color: transparent !important;
}

.users-page .list.celled > .button{
    margin: 0 auto;
    display: table;
    margin-top: 50px;
    color: white;
    background-color: #2AB5E9;
    width: 188px;
    margin-bottom: 250px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: normal;
    font-size: 1.1em;
    border-radius: 4px;
}

.users-page .list.celled > .item > .ui.avatar.image{
    width: 3.5em;
    height: 3.5em;
    border: 2px solid rgb(24,45,55);
}

.profile-page .header > .item > .ui.avatar.image{
    width: 2.7em;
    height: 2.7em;
    border: 2px solid rgb(24,45,55);
}

.users-page .list.celled > .item{
    border-top: none;
    border-bottom: 1px solid rgba(24,45,55, .9);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 0;
}

.users-page .list.celled > .item:first-child{
    padding-top: 8px;
    padding-bottom: 8px;
}

.users-page .list.celled > .item > .content{
    color: rgb(121,154,170);
    font-size: .8em;
    padding-top: 4px;
    font-family: "MontserratRegular";
    letter-spacing: .25px;
    position: absolute;
}

.users-page .list.celled > .item > .content > i.marker.icon{
    color: rgb(121,154,170);
    text-align: left;
    margin-right: -2px;
}

.profile-page .header > .item > .content{
    color: #5C8194;
    font-size: .6em;
    font-family: "MontserratRegular";
    letter-spacing: .25px;
}

.profile-page .header > .item > .content > .header{
    color: #AEC4CF;
    font-size: 1.4em;
    padding-top: 3px;
    margin-bottom: -2px;
    font-family: "MontserratRegular";
    letter-spacing: .25px;
}

.users-page .list.celled > .item > .content > .header{
    color: white;
    font-size: 1.2em;
    padding: 3px;
    padding-bottom: 6px;
    font-family: "MontserratRegular";
    letter-spacing: .25px;
}

.footer > .divider, .header > .divider{
    border-color: rgba(24,45,55, .9) !important;
}

.header > .divider{
    clear: both;
}

.profile-page .profile-main{
    width: 65%;
    margin-top: 25px;
    margin-left: 5px;
    margin-bottom: 250px;
}

.profile-page .profile-main > .table{
    background-color: transparent;
    border: none;
}

.profile-page .profile-main > .table > tbody{
    border:none;
}

.profile-page .profile-main > .table > tbody > tr{
    border:none;

}

.profile-page .profile-main > .table > tbody > tr > td{
    border:none;
}

.profile-page .profile-main > .table > tbody > tr > td:first-child{
    font-size: .7em;
    color: #5C8194;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-right: 0;
    font-family: "MontserratRegular";
    letter-spacing: .25px;
    font-weight: 600;
}

.profile-page .profile-main > .table > tbody > tr > td:last-child{
    font-size: .9em;
    color: white;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding-left: 0;
    font-family: "MontserratRegular";
    letter-spacing: .25px;
    padding-left: 1em;
}

.profile-page .profile-main > .table > tbody > tr > td:last-child > input{
    background-color: transparent;
    border: none;
    width: 100%;
}

.profile-page .profile-main > .table > tbody > tr > td:last-child > input:focus{
    outline: none;
}

.profile-page .profile-main > .ui.selectable.table tbody tr:hover{
    background-color: #1E343F !important;
}

.profile-page .profile-main > .ui.selectable.table tbody tr.activeTr{
    background-color: white;
}

.profile-page .profile-main > .ui.selectable.table tbody tr.activeTr:hover{
    background-color: white !important;
}

.profile-page .profile-main > .ui.selectable.table tbody tr.activeTr > td:last-child{
    color: black;
}

.profile-page .profile-main > .ui.selectable.table tbody tr > td:last-child > i.icon.checkmark{
    visibility: hidden;
    color: green;
}

.profile-page .profile-main > .ui.selectable.table tbody tr.activeTr > td:last-child > i.icon.checkmark{
    visibility: visible;
    color: green;
}

.users-page .list.celled > .button .icon{
    margin-right: 2px !important;
}

.ui.button{
    font-family: "MontserratLight";
    letter-spacing: 1px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px){
    .login-form > .form > .field > label{
        width: 31%;
    }
    .login-form > .ui.form > .field > input.login-input{
        padding-left: 40%;
    }
}

@media only screen and (max-width: 580px){
    .header > .ui.basic.button{
        float: none;
        margin-top: 14px;
        margin-bottom: 8px;
    }
    .profile-page .ui.header:first-child{
        margin-top: 0;
        text-align: center;

    }

    .profile-page .ui.header:first-child > a.item:first-child{
            position: relative;
            right: 6px;
    }


}

@media only screen and (min-width: 340px) and (max-width: 399px){
    .login-form > .form > .field > label{
        width: 30%;
    }
    .login-form > .ui.form > .field > input.login-input{
        padding-left: 39%;
    }
}

@media only screen and (max-width: 339px){
    .login-form > .form > .field > label{
        width: 33%;
    }
    .login-form > .ui.form > .field > input.login-input{
        padding-left: 42%;
    }
}

@media only screen and (min-width: 340px) and (max-width: 399px){
    .registration-form > .form > .field > label{
        width: 30%;
    }
    .registration-form > .ui.form > .field > input.login-input{
        padding-left: 39%;
    }
}

@media only screen and (max-width: 339px){
    .registration-form > .form > .field > label{
        width: 33%;
    }
    .registration-form > .ui.form > .field > input.login-input{
        padding-left: 42%;
    }
}