<div class="layout" *ngIf="user">
  <div class="ui grid container stackable profile-page">
    <div class="fourteen wide tablet eleven wide computer column centered">
      <div class="ui header clearfix">
        <a class="item">
          <img class="ui avatar image" src="{{user.avatar}}" (click)="onAvatarClick(fileInput)">
          <input class="hidden" type="file" accept="image/*" (change)="onChange($event)" #fileInput>
          <div class="content">
            <div class="header">{{user.name}}</div>
            {{user.startDate | date: 'dd MMMM yyyy'}}
          </div>
        </a>
        <button type="button" class="ui button basic" (click)="goBack()"><i class="backward icon"></i>Back to list</button>
        <div class="ui divider"></div>
      </div>

      <div class="ui profile-main">
        <table class="ui selectable celled table">
          <tbody>
            <tr class="profile-main-list" [ngClass]="isActiveName">
              <td>Name</td>
              <td *ngIf="!isReadonly">
                <input type="text" [(ngModel)]="user.name" (blur)="onBlur('name');checkDeactiveClass('name');" (focus)="checkActiveClass('name');">
              </td>
              <td *ngIf="isReadonly">{{user.name}} <i class="icon checkmark right"></i></td>
            </tr>
            <tr class="profile-main-list">
              <td>Email</td>
              <td>{{user.email}} <i class="icon checkmark right"></i></td>
            </tr>
            <tr class="profile-main-list" [ngClass]="isActiveDate">
              <td>Start Date</td>
              <td *ngIf="!isReadonly">
                <input type="date" [(ngModel)]="startDate" (blur)="onBlur('startDate');checkDeactiveClass('date');" onkeypress="return false"
                  required="required" (change)="onStartDateChange()" (focus)="checkActiveClass('date');">
              </td>
              <td *ngIf="isReadonly">{{user.startDate | date: 'dd MMMM yyyy'}} <i class="icon checkmark right"></i></td>
            </tr>
            <tr class="profile-main-list" [ngClass]="isActiveNick">
              <td>Nickname</td>
              <td *ngIf="!isReadonly">
                <input type="text" [(ngModel)]="user.nickname" (blur)="onBlur('nickname');checkDeactiveClass('nick');" (focus)="checkActiveClass('nick');">
              </td>
              <td *ngIf="isReadonly">{{user.nickname}} <i class="icon checkmark right"></i></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="ui footer">
        <div class="ui divider"></div>
        <button type="button" class="ui button basic" (click)="auth.logout()"><i class="sign out icon"></i>Logout</button>
      </div>
    </div>
  </div>
</div>